@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 100%;
}
body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 10px;
}
.w-6 {
  width: 20px;
  height: 20px;
}
.h-6 {
  fill: rgb(239, 140, 1);
}

/* navbar */
.top_nav {
  width: 100%;
  height: 40px;
  background-color: #000000;
}
.top_nav_container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.top_nav_wrapper {
  display: flex;
  color: #ffffff;
}
.tap_nav_p {
  font-size: 14px;
  font-weight: 400;
}
.top_nav_link {
  margin-left: 10px;
  font-size: 14px;
  font-weight: 600;
  color: #ffffff;
}

/* nvbar */

.nav {
  width: 100%;
  height: 8rem;
  background-color: #f8f9fa; 
  display: flex;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.nav_container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem; 
}

.nav_list {
  display: flex;
}

.nav_items {
  display: flex;
  align-items: center;
}

.nav_logo {
  font-size: 2.2rem;
  font-weight: 800;
  color: #222; 
}

.nav_item {
  margin: 0 0.5rem;
  transition: transform 0.3s, background-color 0.3s;
  padding: 0.5rem; 
  border-radius: 8px; 
}

.nav_link {
  color: #222; 
  text-decoration: none;
}

.nav_item:hover {
  transform: scale(1.05); 
  background-color: #e2e6ea; 
}

.nav_form {
  padding: 0.8rem;
  background-color: #fff; 
  display: flex;
  align-items: center;
  border-radius: 8px; 
}

.nav_input {
  padding: 0.4rem;
  background-color: transparent;
  outline: none;
  border: none;
}


@media only screen and (max-width: 1070px) {
  .header_container {
    flex-direction: column;
  }
  .header_filter {
    display: none;
  }
}
.hamburger {
  display: none;
  cursor: pointer;
}
.hamburger > svg {
  width: 45px;
  height: 45px;
}
@media only screen and (max-width: 800px) {
  .top_nav {
    display: none;
  }
  .nav_list {
    display: none;
  }
  .nav_items {
    display: none;
  }
  .hamburger {
    display: block;
  }
  .nav_cart {
    display: none;
  }
  
}
@media only screen and (max-width: 800px) {
  .gallery {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}
.mobile_nav {
  background-color: #ffffff;
  position: absolute;
  z-index: 99;
  height: 100vh;
  border-right: 1px solid #7d8184;
  transition: all 0.5s ease;
}
.mobile_nav_item {
  padding: 20px 100px 20px 50px;
  border-bottom: 1px solid #f5f5f5;
}
.mobile_nav_link {
  color: #000000;
  padding: 12px 50px 12px 0;
}
.mobile_nav_hide {
  display: none;
}

@media only screen and (max-width: 800px) {
  .auth_img {
    display: none;
  }
  .auth_content {
    width: 100%;
  }
}

/* form */
.auth_content {
  padding: 100px;
}
.form_title {
  font-size: 32px;
}
.auth_p {
  margin: 20px 0;
}
.form_group {
  width: 100%;
}
.form-content {
  padding: 90px;
}
.form-titulo {
  font-size: 40px;
}
.form-p {
  margin: 20px 0;
}
.form-group {
  width: 100%;
}
.form_input {
  width: 100%;
  margin-bottom: 20px;
  padding: 10px 6px;
  border: none;
  outline: none;
  border-bottom: 1px solid #7d8184;
}
.form-password {
  margin-bottom: 50px;
}
.form-btn {
  width: 100%;
  padding: 13px;
  background-color: #db4444;
  color: #ffffff;
  border: none;
  outline: none;
  margin-bottom: 15px;
}
.form-confirmar {
  color: #ffffff;
}
.form_group > span {
  margin-top: 2px;
}

/* hr */
hr {
  width: 80%;
  margin: auto;
  opacity: 0.5;
  margin-top: 50px;
  margin-bottom: 90px;
}

/* footer */

.footer {
  margin-top: 100px;
  background-color: #000000;
}
.footer_container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 30px;
  padding: 50px 0;
  color: #ffffff;
}
.footer_logo {
  font-size: 30px;
  color: #ffffff;
  font-weight: 700;
}
.footer_p {
  margin-top: 12px;
}
.footer_item_titl {
  margin-bottom: 12px;
}
.footer_list_item {
  margin: 5px 0;
}
.footer_bottom_container {
  width: 100%;
  text-align: center;
}
.footer_copy {
  color: #7d8184;
  padding: 15px 0;
}
