@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600&display=swap');

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
body {
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
.container {
  max-width: 114rem;
  margin: 0 auto;
  padding: 0rem 1rem;
}
.w-6 {
  width: 2rem;
  height: 2rem;
}
.h-6 {
  fill: rgb(239, 140, 1);
}

/* top nav */
.top_nav {
  width: 100%;
  height: 4rem;
  background-color: #000000;
}
.top_nav_container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.top_nav_wrapper {
  display: flex;
  color: #ffffff;
}
.tap_nav_p {
  font-size: 1.4rem;
  font-weight: 400;
}
.top_nav_link {
  margin-left: 1rem;
  font-size: 1.4rem;
  font-weight: 600;
  color: #ffffff;
}

/* navbar */
.top_nav {
  width: 100%;
  height: 40px;
  background-color: #000000;
}
.top_nav_container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.top_nav_wrapper {
  display: flex;
  color: #ffffff;
}
.tap_nav_p {
  font-size: 14px;
  font-weight: 400;
}
.top_nav_link {
  margin-left: 10px;
  font-size: 14px;
  font-weight: 600;
  color: #ffffff;
}

/* navbar */
.nav {
  width: 100%;
  height: 8rem;
  position: relative;
  z-index: 10;
  background-color: #db4444;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
  display: flex;
}

.nav_list {
  display: flex; 
  align-items: center; 
}

.nav_item {
  position: relative;
  margin: 0 15px; 
}

.nav_container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem; 
}

.nav_list {
  display: flex;
}

.nav_items {
  display: flex;
  align-items: center;
}

.nav_logo {
  font-size: 2.2rem;
  font-weight: 800;
  color: #222; 
}

.nav_item {
  margin: 0 0.5rem;
  transition: transform 0.3s;
  padding: 0.5rem; 
  border-radius: 8px; 
}

.nav_link {
  color: #222; 
  text-decoration: none;
}

.nav_item:hover {
  transform: scale(1.05); 
  background-color: #e2e6ea; 
}

.nav_form {
  padding: 0.8rem;
  background-color: #fff;
  display: flex;
  align-items: center;
  border-radius: 8px; 
}

.nav_input {
  padding: 0.4rem;
  background-color: transparent;
  outline: none;
  border: none;
}

/* Estilo para el logo */
.nav_logo {
  display: flex; 
  margin-left: 0; 
}

.logo_img {
  height: 70px;
  width: auto; 
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0px 5px 0px;
    width: 80%;
    margin: auto;
}
.header > h2 > a{
    color: #000;
    flex-grow: 0.5;
    font: normal 700 24px;
    letter-spacing: 0.03em;
}

.about{
    padding-bottom: 10px;
    border-bottom: 4px solid #DB4444;
}
.menu{
    display: flex;
    gap: 20px;
    align-items: center;
    list-style: none;
    margin-right: 30px;
}
.menu a:hover{
    padding-bottom: 10px;
    border-bottom: 4px solid #DB4444;
}

/* container */
.container{
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-left: 10%;
    margin-top: 90px;
}
.container > span > a{
    font: normal 400 14px/21px 'Poppins';
    color: #949494;
}
.container > span > a > b{
    color: #000;
}
.sobre-nosotros{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sobre-nosotros h1{
    font: normal 600 54px/64px 'Inter';
    text-align: justify;
    letter-spacing: 0.06em;
    margin-bottom: 40px;
}
.sobre-nosotros p{
    width: 525px;
    font: normal 400 16px/26px 'Poppins';
}

@media only screen and (max-width: 1070px) {
  .header_container {
    flex-direction: column;
  }
  .header_filter {
    display: none;
  }
}
.hamburger {
  display: none;
  cursor: pointer;
}
.hamburger > svg {
  width: 4.5rem;
  height: 4.5rem;
}
@media only screen and (max-width: 800px) {
  .top_nav {
    display: none;
  }
  .nav_list {
    display: none;
  }
  .nav_items {
    display: none;
  }
  .hamburger {
    display: block;
  }
}
@media only screen and (max-width: 800px) {
  .gallery {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}

/* mobile nav */
.mobile_nav {
  background-color: var(--colo-white-1);
  position: absolute;
  z-index: 99;
  height: 100vh;
  border-right: 1px solid var(--colo-dark-2);
  transition: all 0.5s ease;
}
.mobile_nav_item {
  padding: 2rem 10rem 2rem 5rem;
  border-bottom: 1px solid var(--colo-white-2);
}
.mobile_nav_link {
  color: var(--colo-dark-1);
  padding: 1.2rem 5rem 1.2rem 0rem;
}
.mobile_nav_hide {
  display: none;
}

@media only screen and (max-width: 800px) {
  .auth_img {
    display: none;
  }
  .auth_content {
    width: 100%;
  }
}

/* svg phone*/

.logo-container {
  display: flex;
  align-items: center;
}

.logo-container svg {
  margin-right: 10px; 
}

/* svg email */

.icon {
  width: 24px; 
  height: 24px; 
  margin-right: 10px; 
}

/* navbaar */
.nav {
  width: 100%;
  height: 8rem;
  background-color: #f8f9fa; 
  display: flex;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}

.nav_container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem; 
}

.nav_list {
  display: flex;
}

.nav_items {
  display: flex;
  align-items: center;
}

.nav_logo {
  font-size: 2.2rem;
  font-weight: 800;
  color: #222; 
  position: absolute; 
  top: 40px; 
  left: 30px; 
}
.nav_item {
  margin: 0 0.5rem;
  transition: transform 0.3s; 
  padding: 0.5rem; 
  border-radius: 8px; 
}

.nav_link {
  color: #222;
  text-decoration: none; 
}

.nav_item:hover {
  transform: scale(1.05); 
  background-color: #e2e6ea; 
}

.nav_form {
  padding: 0.8rem;
  background-color: #fff; 
  display: flex;
  align-items: center;
  border-radius: 8px; /
}

.nav_input {
  padding: 0.4rem;
  background-color: transparent;
  outline: none;
  border: none;
}

 /* MOBILE NAVBAR */

@media only screen and (max-width: 1070px) {
  .header_container {
    flex-direction: column;
  }
  .header_filter {
    display: none;
  }
}
.hamburger {
  display: none;
  cursor: pointer;
  position: absolute; 
  top: 30px; 
  right: 20px; 
  z-index: 100; 
}
.hamburger > svg {
  width: 4.5rem;
  height: 4.5rem;
}
@media only screen and (max-width: 800px) {
  .top_nav {
    display: none;
  }
  .nav_list {
    display: none;
  }
  .nav_items {
    display: none;
  }
  .hamburger {
    display: block;
  }
}
@media only screen and (max-width: 800px) {
  .gallery {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}

/* mobile nav */
.mobile_nav {
  background-color: var(--colo-white-1);
  position: absolute;
  z-index: 99;
  height: 100vh;
  border-right: 1px solid var(--colo-dark-2);
  transition: all 0.5s ease;
}
.mobile_nav_item {
  padding: 2rem 10rem 2rem 5rem;
  border-bottom: 1px solid var(--colo-white-2);
}
.mobile_nav_link {
  color: var(--colo-dark-1);
  padding: 1.2rem 5rem 1.2rem 0rem;
}
.mobile_nav_hide {
  display: none;
}

@media only screen and (max-width: 800px) {
  .auth_img {
    display: none;
  }
  .auth_content {
    width: 100%;
  }

  .servicio-cliente {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
    padding: 20px;
    background-color: #f8f9fa;
  }
  
  .servicio-cliente div {
    text-align: center;
    width: 30%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    transition: box-shadow 0.3s ease;
  }
  
  .servicio-cliente div:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .servicio-cliente img {
    width: 50px; 
    height: auto;
    margin-bottom: 10px;
  }
  
  .servicio-cliente h3 {
    font-size: 18px;
    color: #333;
    margin: 10px 0;
  }
  
  .servicio-cliente p {
    font-size: 14px;
    color: #666;
  }
  
}

.auth_content {
  padding: 10rem;
}
.form_title {
  font-size: 3.2rem;
}
.auth_p {
  margin: 2rem 0rem;
}
.form_group {
  width: 100%;
}
.form_input {
  width: 100%;
  margin-bottom: 2rem;
  padding: 1rem 0.6rem;
  border: none;
  outline: none;
  border-bottom: 1px solid var(--colo-dark-2);
}
.form_pass {
  margin-bottom: 1rem;
}
.form_btn {
  width: 100%;
  padding: 1.3rem;
  background-color: var(--colo-primary);
  color: var(--colo-white-1);
  border: none;
  outline: none;
  margin-bottom: 1.5rem;
}
.form_link {
  color: var(--colo-white-1);
}
.form_group > span {
  margin-top: 2rem;
}

/* servicio al cliente */

.servicio-cliente {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
  padding: 20px;
  background-color: #f8f9fa;
}

.servicio-cliente div {
  text-align: center;
  width: 30%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  transition: box-shadow 0.3s ease;
}

.servicio-cliente div:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.servicio-cliente img {
  width: 50px;
  height: auto;
  margin-bottom: 10px;
}

.servicio-cliente h3 {
  font-size: 18px;
  color: #333;
  margin: 10px 0;
}

.servicio-cliente p {
  font-size: 14px;
  color: #000;
}
