body {
  margin: 0;
  padding: 0;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  background-color: #f0f2f5;
  background-image: url('images/blurry-1714335_1280.jpg');
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; 
  height: 100vh;
}

.logo-container {
  margin-bottom: 10px;
}

.logo {
  max-width: 20%;
  height: auto;
}

.logo:hover {
  transform: scale(1.05);
}

.login-container {
  background-color: rgba(255, 255, 255, 0.9); 
  border-radius: 12px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.1);
  padding: 40px;
  width: 90%;
  max-width: 400px;
  text-align: center;
  margin-top: 40px; 
}

h1 {
  color: #2c3e50;
  margin-bottom: 20px;
  font-size: 1.8em;
  letter-spacing: 1px;
}

.form-group {
  margin-bottom: 20px;
  text-align: left;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #34495e;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px;
  border: 2px solid #bdc3c7;
  border-radius: 8px;
  transition: border-color 0.3s, box-shadow 0.3s;
}

input[type="text"]:focus,
input[type="password"]:focus {
  border-color: #3498db;
  box-shadow: 0 0 8px rgba(52, 152, 219, 0.5);
  outline: none;
}

button {
  width: 100%;
  padding: 12px;
  background-color: #3498db;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s, transform 0.2s;
  font-weight: bold; 
}

button:hover {
  background-color: #2980b9;
  transform: translateY(-1px);
}

button:active {
  transform: translateY(0); 
}

/* Estilos para dispositivos móviles */
@media (max-width: 480px) {
  .login-container {
      padding: 20px; 
  }

  h1 {
      font-size: 1.5em;
  }

  button {
      font-size: 14px; 
  }
}
